/* Categorias */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
    place-items: $alinear; 
    margin-top: 40px;  
    img{
        width: 250px;
        height: 250px;
        border-radius: 30px;
    } 
    .info-producto-1{
    transition: all 300ms;    
    @include style-product();
    &:hover{
        transform: scale(1.15)
    }
    }
    .titulo-producto{
        color: #54595f;   
    }
    .precios{
        font-size: 20px;
        color: #971212;
        font-weight: 600;
    }
}
